USE [Hotelprojekt]
GO
/****** Object:  Table [dbo].[Reservierungslog]    Script Date: 19.04.2023 13:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservierungslog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [nvarchar](100) NOT NULL,
	[ReservierungID] [int] NOT NULL,
	[ZimmerID_alt] [int] NULL,
	[ZimmerID] [int] NOT NULL,
	[KundenID_alt] [int] NULL,
	[KundenID] [int] NOT NULL,
	[GaesteAnzahl_alt] [tinyint] NULL,
	[GaesteAnzahl] [tinyint] NOT NULL,
	[BeginDatum_alt] [date] NULL,
	[BeginDatum] [date] NOT NULL,
	[EndDatum_alt] [date] NULL,
	[EndDatum] [date] NOT NULL,
	[ReservierungsPreis_alt] [smallmoney] NULL,
	[ReservierungsPreis] [smallmoney] NOT NULL,
	[Meldung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reservierungslog] ON 

INSERT [dbo].[Reservierungslog] ([ID], [Mode], [EditOn], [EditUser], [ReservierungID], [ZimmerID_alt], [ZimmerID], [KundenID_alt], [KundenID], [GaesteAnzahl_alt], [GaesteAnzahl], [BeginDatum_alt], [BeginDatum], [EndDatum_alt], [EndDatum], [ReservierungsPreis_alt], [ReservierungsPreis], [Meldung]) VALUES (1, N'I', CAST(N'2023-04-18T09:20:02.223' AS DateTime), N'RZPC-4005\alfa', 43, NULL, 10, NULL, 7, NULL, 2, NULL, CAST(N'2023-09-01' AS Date), NULL, CAST(N'2023-10-01' AS Date), NULL, 127.5000, N'OK! Zimmer_Nr 110 ist für 2023-09-01 - 2023-10-01 erfolgreich gebucht')
INSERT [dbo].[Reservierungslog] ([ID], [Mode], [EditOn], [EditUser], [ReservierungID], [ZimmerID_alt], [ZimmerID], [KundenID_alt], [KundenID], [GaesteAnzahl_alt], [GaesteAnzahl], [BeginDatum_alt], [BeginDatum], [EndDatum_alt], [EndDatum], [ReservierungsPreis_alt], [ReservierungsPreis], [Meldung]) VALUES (2, N'U', CAST(N'2023-04-18T09:20:46.440' AS DateTime), N'RZPC-4005\alfa', 43, NULL, 10, 7, 3, NULL, 2, NULL, CAST(N'2023-09-01' AS Date), NULL, CAST(N'2023-10-01' AS Date), NULL, 127.5000, NULL)
INSERT [dbo].[Reservierungslog] ([ID], [Mode], [EditOn], [EditUser], [ReservierungID], [ZimmerID_alt], [ZimmerID], [KundenID_alt], [KundenID], [GaesteAnzahl_alt], [GaesteAnzahl], [BeginDatum_alt], [BeginDatum], [EndDatum_alt], [EndDatum], [ReservierungsPreis_alt], [ReservierungsPreis], [Meldung]) VALUES (3, N'U', CAST(N'2023-04-18T09:20:55.343' AS DateTime), N'RZPC-4005\alfa', 43, NULL, 10, NULL, 3, NULL, 2, CAST(N'2023-09-01' AS Date), CAST(N'2023-09-05' AS Date), NULL, CAST(N'2023-10-01' AS Date), NULL, 127.5000, NULL)
SET IDENTITY_INSERT [dbo].[Reservierungslog] OFF
GO
ALTER TABLE [dbo].[Reservierungslog] ADD  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[Reservierungslog] ADD  DEFAULT (original_login()) FOR [EditUser]
GO
